* {
    -fx-nord0: #2E3440;
    -fx-nord1: #3B4252;
    -fx-nord2: #434C5E;
    -fx-nord3: #4C566A;
    -fx-nord4: #D8DEE9;
    -fx-nord5: #E5E9F0;
    -fx-nord6: #ECEFF4;
    -fx-nord7: #8FBCBB;
    -fx-nord8: #88C0D0;
    -fx-nord9: #81A1C1;
    -fx-nord10:#5E81AC;
}



.button{
    -fx-background-color: none;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: -fx-nord0;
    -fx-max-height: 30px;
}
.borderPane{
    -fx-background-color: -fx-nord6;
}



.btnPrev{
    -fx-background-image: url('../icons/Prev.png');
    -fx-background-size: 30px;
}

.btnPlay {
    -fx-background-image: url('../icons/Play.png');
    -fx-background-size: 30px;
}
.btnNext{
    -fx-background-image: url('../icons/Next.png');
    -fx-background-size: 30px;
}

.new{
    -fx-background-color: rgba(46,52,64,0.8);
}

.form{
    -fx-background-color: -fx-nord5;
    -fx-background-radius: 20px;
}

.songLabel{
    -fx-padding: 0 0 0 20;
    -fx-font-size: 18;
}
.songArtist{
    -fx-padding: 0 0 0 20;
}
.currentSiteLabel{
    -fx-font-size: 20;
}

.bottomPanel{
    -fx-background-color: -fx-nord5;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-nord4;
}



.table-view{
    -fx-background-color: -fx-nord5;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -fx-nord5;
    -fx-background-radius: 20px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-nord1;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: -fx-nord0;
}

.table-row-cell{
    -fx-background-color: -fx-nord5;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-nord5;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -fx-nord4;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}